<h3>Etch Sketch</h3>

<div class='sketch-container'>
  <svg class='sketch-svg' width='800' height='600'>
    <g class='sketch-trail'/></g>
    <rect class='sketch-cursor' {{bind-attr x=cursorPosX y=cursorPosY width=interval height=interval}} fill="#777"/>
  </svg>
</div>

<div class='controls-container'>
  <button {{action 'shiftLeft'}}>Move left</button>
  <button {{action 'shiftUp'}}>Move up</button>
  <button {{action 'shiftDown'}}>Move down</button>
  <button {{action 'shiftRight'}}>Move right</button>
</div>

<div class='save-button-container'>
  <button {{action 'save'}}>Save my sketch</button>
  <button {{action 'clear'}}>Clear my sketch</button>
</div>

{{#if displayNewID}}
<div class='saved-message-container'>
  This sketch is now saved as <a {{bind-attr href=newIDLink}}>{{newID}}</a>
</div>
{{/if}}

{{#if errorMessage}}
<div class='error-message-container'>
  <h2>{{errorMessage}}</h2>
</div>
{{/if}}

{{yield}}
